.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: wh;
  color: #0065fc;
}
.topnav a.active {
  background-color: #0065fc;
  color: white;
}

.topnav {
  position: absolute;
  font-family: Raleway;
  top: 28px;
  right: 75px;
}

.entête{ 
  position:relative;
  font-family: Raleway;
  font-size: 26px;
  left: 60px;
  top: 40px;
}

.soustexte{
  position:relative;
  font-family: Raleway;
  font-size: 20px;
  top:26px;
  left: 58px
}

.LogoBooki {
  position: relative;
  left: 70px;
  top: 25px;
}