:root {
--blue: #0065fc;
--lightgrey: #f2f2f2;
}
* {
  font-family: Raleway;
  box-sizing: border-box;
 }
/* NAVBAR */
 #logo {
  margin-right: auto;
  padding: 0 2rem;
  }

nav {
display: flex;
align-items:center;
justify-content: flex-end;
flex-wrap: wrap;
}

nav a {
padding: 2rem;  
text-decoration: initial;
color: black;
font-size: 20px;
}

@media (max-width: 800px) {
 .sub_nav {
  order: 1;  
  flex-basis: 100%;
}
}

nav a:hover {
  background-color: wh;
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/* BODY */
.wrapper {
padding: 0 2rem;
}

.wrapper h1, 
.wrapper p {
margin-bottom: 0.8rem;
}

/* SEARCHBAR */
.searchbar {
 align-items: center;
 display: flex;
 font-size: 1.2rem;
}

.searchbar * {
  padding: 1rem 1.5rem;
}
.searchbar i {
 background-color: var(--lightgrey);
 border-radius: 1rem 0 0 1rem;
}

.searchbar input {
 flex-basis: 16rem;
border: 1px solid var(--lightgrey);
font-weight: bold;
color: inherit;
}

.searchbar input::placeholder {
  font-weight: bold;
  text-align: right 2px;
  color: inherit;
  font-size: 1.2rem;
}

.searchbar button {
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  border: none;
}

/* Filtres */
.filter-list {
display: flex;  
align-items: center;
gap: 2rem;
flex-wrap: wrap;
margin-top: 0.8rem;
}

.filter {
  border: 2px solid gainsboro; 
  border-radius: 2rem;
  display: flex;
  align-items: center;
 }

.filter-list h1 {
padding: 0 0 0 2rem;  

}

.filter .fas {
  color: var(--blue);
  background-color: #deebff;
  border-radius: 50%;
  margin: -2px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter span {
font-weight: bold;
padding: 0 1rem; 
}


/* ICONE INFO */
.iconmessage {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 0 0 2rem;

}

.iconmessage .fas {
  background-color: white;
  border-radius: 50%;
  border: 2px solid gainsboro;
  width: 2rem;
  height: 2rem;
 color: var(--blue);
 display: flex;
 align-items: center;
 justify-content: center;
}


/* Block hebergement */
.wrap_hebergement {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  width: fit-content;
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 20px;
}


.hebergement img {
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.wrap_hebergement p {
  color: rgb(0, 0, 0);
  margin-top: -8px;
}
.hebergement ul li {
  display: inline-block;
  font-size: 13px;
  letter-spacing: -2px;
}

.stars {
  margin-left: -30px;
  margin-top: -10px;
}

.blue_star {
  color: #0065fc;
}

.grey_star {
  color: #d1d1d1;
}

.hebergement {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}

.block_hebergement {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 20px;
  padding: 15px;
}