:root {
--blue: #0065fc;
--lightgrey: #f2f2f2;
}

body {
padding: 3rem;
}

* {
  font-family: Raleway;
  box-sizing: border-box;
 }

/* NAVBAR */
 #logo {
  margin-right: auto;
  padding: 0 2rem;
  }

nav {
display: flex;
align-items:center;
justify-content: flex-end;
flex-wrap: wrap;
}

nav a {
padding: 2rem;  
text-decoration: initial;
color: black;
font-size: 20px;
}

@media (max-width: 800px) {
 .sub_nav {
  order: 1;  
  flex-basis: 100%;
}
}

nav a:hover {
  background-color: wh;
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/* BODY */
.wrapper {
padding: 0 2rem;
}

.wrapper h1, 
.wrapper p {
margin-bottom: 0.8rem;
}

/* SEARCHBAR */
.searchbar {
 align-items: center;
 display: flex;
 font-size: 1.2rem;
}

.searchbar * {
  padding: 1rem 1.5rem;
}
.searchbar i {
 background-color: var(--lightgrey);
 border-radius: 1rem 0 0 1rem;
}

.searchbar input {
 flex-basis: 16rem;
border: 1px solid var(--lightgrey);
font-weight: bold;
color: inherit;
}

.searchbar input::placeholder {
  font-weight: bold;
  text-align: right 2px;
  color: inherit;
  font-size: 1.2rem;
}

.searchbar button {
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  border: none;
}

/* Filtres */
.filter-list {
display: flex;  
align-items: center;
gap: 2rem;
flex-wrap: wrap;
margin-top: 0.8rem;
}

.filter {
  border: 2px solid gainsboro; 
  border-radius: 2rem;
  display: flex;
  align-items: center;
 }

.filter-list h1 {
padding: 0 0 0 2rem;  

}

.filter .fas {
  color: var(--blue);
  background-color: #deebff;
  border-radius: 50%;
  margin: -2px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter span {
font-weight: bold;
padding: 0 1rem; 
}


/* ICONE INFO */
.iconmessage {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 0 0 2rem;

}

.iconmessage .fas {
  background-color: white;
  border-radius: 50%;
  border: 2px solid gainsboro;
  width: 2rem;
  height: 2rem;
 color: var(--blue);
 display: flex;
 align-items: center;
 justify-content: center;
}


/* Block hebergement */
.wrap_hebergement {
  grid-gap: 2.5rem;
  grid-template-columns: auto auto auto;
  display: grid;
  margin-bottom: 1rem;
}

.wrap_hebergement p {
  color: rgb(0, 0, 0);
  margin-top: -8px;
}

.img_hebergement {
  border-radius: 1.5rem 1.5rem 0px 0px;
  z-index: 1;
  height: 10rem;
  width: 100%;
  object-fit: cover;
}


.blue {
  color: #0065fc;
}

.grey {
  color: #d1d1d1;
}

.hebergement {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}

.block_hebergement {
    background-color: #f2f2f2;
    padding: 3rem;
    border-radius: 25px;
    width: 70%;
}

.afficherPlus {
padding-top: 2rem;
}

/* block populaire */
.populaire {
  background-color: #f2f2f2;
  border-radius: 25px;
  width: 30%;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 30px;
  gap: 40px;
}

.most_popular {
  margin-top: 10px;
  gap: 6rem;
 display: flex;
 justify-content: space-between;
 padding: 0 20px 0 20px;
 align-items: center;
}

.img_hebergement_popular {
  border-radius: 1.5rem 0rem 0rem 1.5rem;
  z-index: 1;
  height: 170px;
  width: 170px;
  object-fit: cover;
}

.grid_container_popular {
  background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}

.main_hebergement {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}

.text_populaire {
  text-align: left;
  width: 400px;
  float: right;
}


.text_populaire h2 {
  margin-bottom:auto;
}

.text_populaire .stars {
  padding-top: 40px;
}