:root {
--blue: #0065fc;
--lightgrey: #f2f2f2;
}

body {
margin: 0px; 
padding: 25px; 
}

* {
  font-family: Raleway;
  box-sizing: border-box;
 }

/* NAVBAR */
 #logo {
  margin-right: auto;
  padding: 0 20px;
  }

nav {
display: flex;
align-items:center;
justify-content: flex-end;
flex-wrap: wrap;
}

nav a {
padding: 20px;  
text-decoration: initial;
color: black;
font-size: 20px;
}

@media (max-width: 800px) {
 .sub_nav {
  order: 1;  
  flex-basis: 100%;
}
}

nav a:hover {
  background-color: wh;
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/* BODY */
.wrapper {
padding: 0 20px;
}

.wrapper h1, 
.wrapper p {
  margin-bottom: 20px;
}

/* SEARCHBAR */
.searchbar {
 align-items: center;
 display: flex;
 font-size: 16px;
}

.localisation_button  {
  background-color: var(--lightgrey);
    width: 50px;
    border-radius: 15px 0 0 15px;
    height: 50px;
    align-items: center;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}

.searchbar input {
  padding: 1rem 1.5rem;
 flex-basis: 180px;
border: 1px solid var(--lightgrey);
font-weight: bold;
color: inherit;
}

.searchbar input::placeholder {
  padding: 1rem 1.5rem;
  font-weight: bold;
  text-align: right 2px;
  color: inherit;
  font-size: 15px;
}

.icone_desktop {
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  width: 100px;
  height: 50px;
  border-radius: 0 12px 12px 0;
  border: none;
}

.icone_mobile {
  display: none;
}

/* Filtres */
.filter-list {
display: flex;  
align-items: center;
gap: 2rem;
flex-wrap: wrap;
margin-top: 10px;
}

.filter {
  border: 2px solid gainsboro; 
  border-radius: 26px;
  display: flex;
  align-items: center;
 }

.filter-list h1 {
padding: 0 0 0 22px;  

}

.filter .fas {
  color: var(--blue);
  background-color: #deebff;
  border-radius: 50%;
  margin: -2px;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter span {
font-weight: bold;
padding: 0 12px; 
}


/* ICONE INFO */
.iconmessage {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 0 0 24px;
  margin-bottom: 20px;

}

.iconmessage .fas {
  background-color: white;
  border-radius: 50%;
  border: 2px solid gainsboro;
  width: 2rem;
  height: 2rem;
 color: var(--blue);
 display: flex;
 align-items: center;
 justify-content: center;
}


/* Block hebergement */
.wrap_hebergement {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrap_hebergement p {
  color: rgb(0, 0, 0);
  margin-top: -8px;
}

.img_hebergement {
  border-radius: 15px 15px 0px 0px;
  z-index: 1;
  height: 10rem;
  width: 100%;
  object-fit: cover;
}


.blue {
  color: #0065fc;
}

.grey {
  color: #d1d1d1;
}

.hebergement {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  margin-bottom: 30px;
}

.block_hebergement {
    background-color: #f2f2f2;
    padding: 3rem;
    border-radius: 25px;
    width: 70%;
}

.afficherPlus {
padding-top: 2rem;
}

/* block populaire */
.populaire {
  display: block;
  background-color: #f2f2f2;
  border-radius: 25px;
  width: 30%;
  grid-template-columns: none;
  padding: 0 30px;
  height: 905px;
}


.most_popular {
 margin-top: 10px;
 gap: 6rem;
 font-size: 20px;
 display: flex;
 justify-content: space-between;
 padding: 0 20px 0 20px;
 align-items: baseline;
 
}

.img_hebergement_popular {
  border-radius: 15px 0 0 15px;
  z-index: 1;
  height: 170px;
  width: 170px;
  object-fit: cover;
}

.grid_container_popular {
  margin-top: 25px;
  display: block;
  margin-bottom: 66px;
  background-color: white;
  padding: 7px 7px 3px 7px;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
}

.main_hebergement {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}

.text_populaire {
  display: block;
  text-align: left;
  float: right;
  padding-left: 6px;
  width: 250px;
}


.text_populaire h2 {
  margin-bottom:auto;
}

.text_populaire .stars {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

/* ACTIVITE A MARSEILLE */

.text_activity {
  margin-left: 35px;
}

.bottom_activity {
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.activity_list h3 {
  margin-left: 20px;
}

.activity_list {
  display: flex;
  justify-content: space-around;
}

.small_activity {
  border: 1px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
}

.medium_activity {
  border: 1px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
}

.big_activity {
  border: 1px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
}

.big_activity img {
  width: 400px;
  height: 520px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.block_vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fort {
  width: 400px;
  height: 240px;
}

.frioul {
  width: 400px;
  height: 145px;
}

.block_vertical img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.notredame {
  width: 400px;
  height: 240px;
}

.longchamp {
  width: 400px;
  height: 145px;
}

/* FOOTER */

.footer {
  margin: -30px;
  background-color: #F2F2F2; 
}

.footer a {
  text-decoration: initial;
  color:black
}

.footer_columns {
  display: flex;
  margin-top: 50px;
  background-color: #F2F2F2;
  padding-top: 20px;
  color: black;
  font-size: 20px;
}

.footer_about {
  
  padding-left: 50px;
  margin: 0;
}

.footer_hebergement {
  padding: 0 250px;
}

.footer_assistance {
  padding: 0 100px;
}


/*----------------------tablette (portrait)-------------*/

@media screen and (max-width: 768px) {
  body {
  margin: 0px; 
  padding: 0px;  
}

.wrapper {
  margin-left: 25px;
  width: 350px;
  padding: 0;
}

.wrapper h1, .wrapper p {
  margin-bottom: 10px;
}

.wrapper h1 {
  font-size: 23px;
}

.wrapper p {
  font-size: 17px;
}


.searchbar {
  margin-top: 32px;
  margin-left: 5px;
}

.filter-list {
  display: flex;
  flex-direction: column;
}

.filter-list h1 {
  padding: 0px;
  margin-bottom: 0;
  font-size: 26px;
}

.main_hebergement {
  display: block;
}

.wrap_hebergement {
  display: block;
}

.hebergement {
  width: 90%;
  margin-left: 20px;
}

.iconmessage {
  display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 0 0 14px;
    margin-bottom: 20px;
}

.block_hebergement {
  background-color: white; 
  width: 100%;
}

.activity_list {
  display: block;
}

.footer_columns {
  display: block;
}

.icone_desktop {
  display:none;
}

.icone_mobile {
  display: block; 
  width: 50px;
  height: 50px;
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 15px;
  border-right: none;
  margin-left: -10px;
}

nav {
    margin-top: 20px;
    order: 1;
    flex-basis: 100%;
    padding: 20px;
}


.sub_nav {
  margin-top: 20px;
    order: 1;
    flex-basis: 100%;
}

#logo {
  margin: auto;
  padding: 0px;
  width: 30%;
  height: 30%;
}


.footer {
  margin: 0px;
}

.footer_assistance {
  padding: 0px;
}

.footer_hebergement {
  padding: 0px;
}

.footer_about {
  padding: 0px;
}

.bottom_activity img {
width: 100%;
height: 100%;
}



.block_hebergement {
  background-color: white;
  padding: 0px;
  border-radius: 25px;
  width: 100%;
}

.block_hebergement h1 {
  margin-left: 15px;
}

.afficherPlus {
  padding-top: 0px;
  margin-left: 20px;
}

.populaire {
  display: block;
    width: 100%;
    height: 100%;
    padding: 10px
}



.img_hebergement_popular {
  width: 140px;
  height: 140px;
}



.text_populaire {
  width: 160px;
  font-size: 12px;
}

.grid_container_popular {
  margin: 10px;
}

.text_populaire .stars {
  margin: 0;
  padding: 25px 5px 0 0;
}


/* BOTTOM ACTIVITY RESPONSIVE */

.big_activity img {
  width: 100%; 
  height: 150px; 
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.bottom_activity img {
  width: 100%;
  height: 150px;
}

.medium_activity {
  border: 1px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
  margin-top: 20px;
}

.big_activity {
  border: 1px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
  margin-top: 20px;
}

.small_activity {
  border: 1px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
  margin-top: 20px;
}

.footer_columns {
  padding: 20px;
  display: block;
}